/*Added new font face for texts*/
/*
Added on 10:35pm, 2.4.2018
Author: Nicholas Richard
*/
@font-face {
    font-family: 'shipwreck';
    src: url('../fonts/SinkiS93.ttf');
}

/*Original code*/
body {
    font-family: sans-serif;
    background-color: #223E4A;  /* Dark Slate Blue Background */
    color: white;    /* Light Blue Text Color #EBFFFF*/
    text-shadow: 2px 2px 4px #111111;
}

/*CSS for game.html*/
/*Original code*/
.boardCell {
    background-color: #0077BE;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 0px 1px #00BEA6 inset;
    float: left;
    cursor: pointer;
}

.boardCell:hover {
    background-color: #005F98;
}

.numberLabel {
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
}

.numText { 
    position: absolute;
    bottom: 0;
    left: 50%;
}

.letterLabel {
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
}

.letText {
    position: absolute;
    line-height: 50px;
    right: 0;
    color: white;
}

#textDisplay {
    height: 125px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
	/* Changed to accomodate audio player and back button */
	margin-bottom: 75px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgba(0,0,0,0.2);
}

#enemyBoard {
    position: relative;
    background-color: #223E4A;
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}


/* 
CSS for general links, index.html and disclaimer.html
Added on 4/1/18 10:35pm 
Author: Wong Xiu Jie 
*/
a:link{
	text-decoration:none;
}

a:hover{
	color:blue;	
    text-shadow: 2px 2px 4px #0eb5f7;
}

a:visited{
	text-decoration:none;
	color:white;
} 

a:active{
	color: blue;
}

#index{
	font-size:30px;
	text-align:center;
	font-family: shipwreck, Arial, sans-serif;
}

#index img{
	border: 1px solid black;
}

#index>ul{

	list-style-type:none;
}

#index>ul>li{

	padding:1%;
}

h1{
	text-align: center;
	font-size:30px;
	font-family: shipwreck, Arial, sans-serif;
}

#disclaimer>ul, #instruction>ul
{
	font-size:26px;
	list-style-type: square;
}

#disclaimer>ul>li{
	padding:1%
}

#disclaimer>ul>li>a:link{
	text-decoration: underline;
}

#back{
	font-size: 28px;
	padding: 1%;
	font-family: shipwreck, Arial, sans-serif;
	font-weight: bold;
}

#back>a:link{
	text-decoration: underline;
}

/* 
CSS for howtoplay.html
Added new on 2/4/18 8:48 
Author: Wong Xiu Jie 
*/
#desc>ul>li, #instruction>ul>li
{
	padding: 1%;
}

#instruction>img{
	height: 20em;
	width: auto;
	display: block;
	margin: 0 auto;
}

/*
CSS for game.html
Added new on 3/4/2018 2:35pm
Author: Nicholas Richard
*/
#game{
	font-family: shipwreck, Arial, sans-serif;
}

#gameback{
	margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
	font-size: 28px;
	padding: 1%;
	font-weight: bold;	
}

#gameback>a:link{
	text-decoration: underline;
}

audio{
	float: right;
}