/*
Added new font face for texts
Added on 10:35pm, 2.4.2018
Author: Nicholas Richard
*/
@font-face {
    font-family: 'shipwreck';
    src: url('../fonts/SinkiS93.ttf');
}

/*Original code*/
body {
    font-family: sans-serif;
    background-color: #223E4A;  /* Dark Slate Blue Background */
    color: white;    
    text-shadow: 2px 2px 4px #111111;
}

/*CSS for game.html*/
/*Original code*/
#board{
    position: relative;
    background-color: #223E4A;
    height: 25em; /*400px*/
    width: 25em; /*400px*/	
	margin: 0 auto;
}

#board>.boardCell{
    float: left;	
}

#board>.boardCell, #enemyBoard>.boardCell, #playerBoard>.boardCell {
	background-color: #0077BE;
    width: 3.1em; /*50px*/
    height: 3.1em; /*50px*/
    box-shadow: 0px 0px 0px 1px #00BEA6 inset;
}

#board>.boardCell, #enemyBoard>.boardCell{
	cursor: crosshair;	
}

#enemyBoard>.boardCell {
    float: left;
    /* TODO: change curso to custom crosshair */cursor: crosshair;
}

#enemyBoard>.boardCell:hover, #board>.boardCell:hover  {
    background-color: #005F98;
}

.numberLabel {
    position: relative;
    width: 3.1em; /*50px*/
    height: 3.1em; /*50px*/
    float: left;
}

.numText { 
    position: absolute;
    bottom: 0;
    left: 50%;
}

.letterLabel {
    position: relative;
    width: 3.1em; /*50px*/
    height: 3.1em; /*50px*/
    float: left;
}

.letText {
    position: absolute;
    line-height: 50px;
    right: 0;
    color: white;
}

#textDisplay{
    height: 125px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
	/*Changed to accomodate audio player and back button */
	margin-bottom: 75px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgba(0,0,0,0.2);
}

#enemyBoard, #playerBoard{
    position: relative;
    background-color: #223E4A;
    height: 25em; /*400px*/
    width: 25em; /*400px*/
}

#enemyBoard{
    float: left;
	margin-left: 10em;
}

/*Added player's fleet to implement pseudo-AI */
/*
Added on 6/4/2018 12:57pm
Author: Nicholas Richard
*/
#playerBoard {
    float: right;
    margin-right: 10em;
	position: relative;
	bottom: 1.25em;
}


#playerBoard>.boardCell {
    float: right;
}

#yourShipsRemaining{
	position: relative;
	bottom: 1em;
	right: 1em;
	float:right;
}

#notBoard{
	clear: both;
}

/* 
CSS for general links, index.html and disclaimer.html
Added on 4/1/18 10:35pm 
Author: Wong Xiu Jie 
*/
a:link{
	text-decoration:none;
}

a:hover{
    text-shadow: 2px 2px 4px #0eb5f7;
}

a:visited{
	text-decoration:none;
	color:white;
} 

a:active{
	color: blue;
}

#index, #setting, #select, #clear, #clear_heading{
	font-size:30px;
	text-align:center;
	font-family: shipwreck, Arial, sans-serif;
}

#index img{
	border: 1px solid black;
}

#index>ul, #select>ul, #clear>ul, #setting>ul{

	list-style-type:none;
}

#index>ul>li, #disclaimer>ul>li, #select>ul>li, #clear>ul>li, #setting>ul>li{

	padding:1%;
}

h1{
	text-align: center;
	font-size:30px;
	font-family: shipwreck, Arial, sans-serif;
}

#disclaimer>ul, #instruction>ul{
	font-size:26px;
	list-style-type: square;
}

#disclaimer>ul>li>a:link{
	text-decoration: underline;
}

/* 
CSS for howtoplay.html
Added new on 2/4/18 8:48 
Author: Wong Xiu Jie 
*/
#desc>ul>li, #instruction>ul>li
{
	padding: 1%;
}

#instruction>img{
	height: 20em;
	width: auto;
	display: block;
	margin: 0 auto;
}

/*
CSS for web pages containing the game
Added new on 3/4/2018 2:35pm
Author: Nicholas Richard
*/
#game{
	font-family: shipwreck, Arial, sans-serif;
}

audio{
	float: right;
}

#select>audio{
	position: relative;
	top: 11.5em;
}

/*
CSS for tansitioning pages of the game
Added new on 7/4/2018 8:53pm
Author: Nicholas Richard
*/
#select>ul{
	position: relative;
	top: 3.5em;
}

#setting>#back, #select>#back, #disclaimer>#back, #instruction>#back, .opt{
	font-size: 28px;
	padding: 1%;
	font-family: shipwreck, Arial, sans-serif;
	font-weight: bold;
}

#setting>#back{
	float: left;
}

#clear{
	position: relative;
	top: 3em;
}

#clear>audio{
	position: relative;
	top: 4em;
}

#clear_heading>#title{
	margin-top: 1.5em;
	margin-bottom: 15px;
}

#storage{
	font-family: sans-serif;
	font-size: 26px;
	padding: 1%;
	list-style-type: none;
	text-align: center;
}

#setting>#back, #select>#back, #disclaimer>back{
	position: relative;
}

#disclaimer>#back{
	top: 2.5em;	
}

#setting>#back{
	top: 3.5em;
}

#select>#back{
	top: 12em;
	float: left;
}